{% extends 'base.html' %}

{%block title %}View Cats{% endblock %}

{%block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Generate an AI cat!</div>
            <div class="card-body">
            <div class="form-outline w-20">
            <div class="card-footer">
                <form action="#", method="post">
                    <div class="input-group">
                        <input type="text" class="form-control" name="catpictureprompt" placeholder="Describe what kind of cat you want!">
                        <div class="input-group-append">
                            <input type="Submit" value="Submit"/>
                        </div>
                    </div>
                </form>
            </div>
            </div>
            </div>
        </div>
        <div class="card-header">AI Cat</div>
        <div class="card-body">
            <img src="{{ image_url if not None}}" class="img-fluid" alt="Responsive image">
        </div>
        <div class="card">
            <div class="card-header">Generate a real cat!</div>
            <div class="card-body">
                <form action="/submit" method="POST" name="option">
                    <div class="form-group" name="group1">
                        <label for="group1">Order of Upload Date</label>
                        <select class="form-control" id="order" name="order">
                        <option value="Random" selected>Random</option>
                        <option value="Ascending">Ascending</option>
                        <option value="Descending">Descending</option>
                        </select>
                    </div>
                    <div class="form-group" name="group2">
                        <label for="group2">Only Return Images with Breed Information</label>
                        <select class="form-control" id="breedinfo" name="breedinfo">
                            <option value="1" selected>True</option>
                            <option value="0">False</option>
                        </select>
                    </div>
                    <div class="form-group" name="group3">
                        <label for="group3">Number of images</label>
                        <select class="form-select dropdown-menu-end" id="order" name="number">
                            {% for number in range(1, 101) %}
                            <option value="{{ number }}">{{ number }}</option>
                            {% endfor %}
                        </select>
                        </div>
                    <label for="breed">Describe what breed you are looking for! (E.g Aegean, Bengal)</label>
                    <input type="text" class="form-control" name="breed" placeholder="Separate values with commas">
                    <input type="Submit" value="Submit"/>
                    </form>
            </div>
        </div>
        <div class="card-header">Real Cat</div>
        <div class="card-body">
            {% if json_list %}
                {% for i in range(json_list|length) %}
                    <div class="card-body">
                        <p>Name: {{ json_list[i].breeds[0].name}}</p>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col">
                                    <img src="{{ json_list[i].url }}" alt="Responsive" style="max-width: 100%;"/>   
                                </div>
                                <div class="col">
                                    <img src="data:image/jpeg;base64,{{ radar_list[i] | safe }}" style="max-width: 100%;">
                                </div>
                            </div>
                            <p>Description: {{ json_list[i].breeds[0].description }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}