{% extends 'base.html' %}

{%block title %}View Cats{% endblock %}

{%block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Generate an AI cat!</div>
            <div class="card-body">
            <div class="form-outline w-20">
            <div class="card-footer">
                <form action="#", method="post">
                    <div class="input-group">
                        <input type="text" class="form-control" name="catpictureprompt" placeholder="Describe what kind of cat you want!">
                        <div class="input-group-append">
                            <input type="Submit" value="Submit"/>
                        </div>
                    </div>
                </form>
            </div>
            </div>
            </div>
        </div>
        <div class="card-header">AI Cat</div>
        <div class="card-body">
            <img src="{{ image_url if not None}}" class="img-fluid" alt="Responsive image">
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Generate a real cat!</div>
            <div class="card-body">
                <form action="/submit" method="get" name="option">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Order of Upload Date</label>
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option value="1">Random</option>
                        <option value="2">Ascending</option>
                        <option value="3">Descending</option>
                      </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Only Return Images with Breed Information</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option value="1">True</option>
                          <option value="2">False</option>
                        </select>
                    </div>
                    <label for="exampleFormControlSelect1">Describe what breed you are looking for! (E.g Aegean, Bengal)</label>
                    <input type="text" class="form-control" name="breed" placeholder="Separate values with commas">
                    <input type="Submit" value="Submit"/>
                  </form>
            </div>
        </div>
        <div class="card-header">Real Cat</div>
        <div class="card-body">
            {% if imgs %}
                {% for img_path in imgs %}
                    <img src="{{ real_cat_image_url if not None }}" alt="Responsive"/>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}